.people {
  display: grid;
  grid-template-columns: 1fr 300px;
  padding: 40px;

  .table {
    margin: 0 auto;
    max-width: 1024px;

    .people-table-head {
      text-transform: capitalize;
      cursor: pointer;

      &.active::after {
        content: "👇🏽";
      }
    }
  }
}
